doctype html

html
  head
    meta(name="viewport",content="initial-scale=1")
    title 个人信息绑定
    link(rel='stylesheet', href='/users/login.css')
  body
    div.firstsight
      div.bgimg
      div.holder
        div#reg 注册账号
    div.secondsight
      div.row
        img.face(src=headimgurl)
      div.row 
        p.name #{name}
      div.form
        form#loginform
          div.line
            label(for="name") 真实姓名 
            input(name="name",id="name" ,placeholder="请输入真实姓名")
            input(name="openid", type="hidden" ,value=openid )
            input(name="headimgurl", type="hidden" ,value=headimgurl )
            input(name="url", type="hidden" ,value=url )
            div.clear
              img#close(src="/users/close.png")
          div.lastline
            label(for="phone") 手机号码
            input(name="phone",id="phone", placeholder="请输入手机号" type="number")
            div.clear
         
          div#info.info
          div.line
            div#bind 绑定
          div#nameinfo.info
          div#phoneinfo.info
    div.thirdsight
      div.bgimg
      div.holder  
        span#word 绑定成功          
    script(src="/users/login.js",type="text/javascript")